div {
  margin-bottom: 8px;
}

span {
  margin-left: 6px;
}

input {
  width: 40px;
  margin-left: 2px;
  margin-bottom: 4px;
}

input[type="number"] {
  width: 50px;
  text-align: right;
}

input[type="button"] {
  width: auto;
  margin-left: 8px;
  padding: 6px;
  background-color: #efe;
  border: 2px outset #88f;
}
